{{define "body"}}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>Hello:</p>
    <p>Your order information.</p>
    <p>User name: {{.FirstName}} {{.LastName}}</p>
    <p>Quantity: {{.Quantity}}</p>
    <p>Price: {{.Price}}</p>

    <p>--<br>
    Widgets Co.
    </p>
</body>

</html>

{{end}}